main {
  width: 990px;
}


aside {
  width: 330px;
  height: 600px;
  background-color: red;
  float: left;
  }
img {
  width: 330px;
  height: 200px;
}

.sideright {
  width: 660px;
  height: 600px;
  background-color: blue;
  float: left;
}
.technicalskills {
  width: 330px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
}
