main {
  width: 990px;
}
aside {
  width: 330px;
  height: 600px;
  background-color: #3D3D41;
  float: left;
  border-left-width: 100px;
}

img {
  width: 200px;
  height: 186px;
  border-radius: 50%;
  margin-left: 65px;
  margin-top: 15px;
}

.technicalskills {
  width: 330px;
  height: 200px;
  background-color: #3D3D41;
}

softwareskills {
  width: 304px;
  height: 155px;
  background-color: #3D3D41;
}

.sideright {
  width: 660px;
  height: 600px;
  background-color: white;
  float: left;
}

.toplinecontent {
  width: 660px;
  height: 150px; 
}

.sidelinecontent {
  width: 184px;
  height: 105px;
  float: right;
}

.blockquote {
  width: 640px;
  height: 55px;
  padding-right: 10px;
  padding-left: 25px;
  padding-top: 45px;
  padding-bottom: 10px;
  background-color: #D0D0D1;
  margin-left: 28px;
}

.education {
  width: 660px;
  height: 150px; 
}

.experience {
  width: 660px;
  height: 150px; 
}

